<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>xinyi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajax_let1</servlet-name>
    <servlet-class>servlet.Ajax_let1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax_let1</servlet-name>
    <url-pattern>/servlet/Ajax_let1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Number</servlet-name>
    <servlet-class>servlet.Number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Number</servlet-name>
    <url-pattern>/servlet/Number</url-pattern>
  </servlet-mapping>
</web-app>